// ich ändere hier die Default Farbe mit Variablen ,
//z.B Primary ist immer grün, ich kann meine eigene Farbe rein machen
$theme-colors: (
  "primary": darkblue,
  "info": darkblue,
    );
// survey ist im Formular Seite , wo man von 1 bis 5 bewerten soll
.survey{
    background-color:darkgray;
    color: black;
    font-size:medium; 
}

.homepage{
     border-radius : 500px;
   width: 10rem;
    
    } 
    /* Es gab so komische panel oben ,was mein nave fast zu macht, deswegen habe  ich  es ausgeblendet*/
    .gENpvG {
      display: none;
    }
    .card {
      margin-top: 35px;
    }
    
    .formio-component-htmlelement {
      padding-left: 50px!important;
      padding-left:50px!important;
    }
    .emailTNummer{
      padding-top: 15px;
    }