
.h2{
	width: 100px;
	border-radius: 30px;
}


.container {
    padding-right: 0px!important;
	padding-left: 0px!important;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.footer-bs {
    background-color:gray;
	padding: 60px 40px;
	color: rgba(255,255,255,1.00);
	
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
	margin-top: auto;
}
.list {
	padding-top: 25px!important;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00);   }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
	padding-bottom: 0px;
}


.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255, 255, 255, 0.8);  }
.footer-bs .footer-nav ul.list a:hover { color:rgba(159, 26, 26, 0.6); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }


@media (min-width: 1400px){
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
min-width: 100%;

}
}

@media (min-width: 1200px){ 
.container-xl, .container-lg, .container-md, .container-sm, .container {
	min-width: 100%;
	padding: 0;
}
}
@media (min-width: 992px){ 
.container-lg, .container-md, .container-sm, .container {
	min-width: 100%;
	
}
}
@media (min-width: 768px){
.container-md, .container-sm, .container {
	min-width: 100%;
}
}
@media (min-width: 576px) { 
.container-sm, .container {
    min-width:  100%;
}
}